@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Lato', sans-serif;}

.wrapper{width: 100%; max-width: 1080px; position: relative; margin: 0 auto;}

body{font-size: 16px}

/* navitation */
.navLink:hover{border-right: 1px solid black; border-left: 1px solid black;}

/* card template */
.cardBody:hover{background: darkblue; color: white;}

/* quote body */
.cardQuote:hover{background: rgb(238, 238, 238); color: white;}